.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 3rem; */
}
.app-bar {
  margin-bottom: 1rem;
}
.toolbar {
  display: flex;
  justify-content: center;
}
.app-bar-typography {
  display: flex;
  justify-content: center;
}
.movie-name-container {
  height: 200px;
  width: 200px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-movie-div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}
.input-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.lives-counter {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.currentScore {
  margin-left: 1rem;
  display: flex;
}
.current-statistic-container {
  display: flex;
  /* max-width: 200px; */
  justify-content: space-around;
}
.high-score-cotnainer {
  margin-left: 1rem;
  display: flex;
}
.lives-span {
  color: blue;
}
.high-score-span {
  color: purple;
}
.number-of-guesses-span {
  color: green;
}
.input-error {
  color: red;
}
.statistic-button {
  color: green !important;
  border: 1px solid green !important;
}
.MuiButton-outlined {
  margin: 0.5rem !important;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.buttons-container > button {
  width: 120px;
  height: 60px;
}

@media screen and (max-width: 700px) {
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .buttons-container > button {
    width: 120px;
    height: 60px;
  }
}
